/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Header styles */
header {
    background-color: #f7931e; /* Vibrant orange */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

/* Container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Main content styles */
main {
    padding: 20px 0;
}

/* Footer styles */
footer {
    background-color: #333; /* Black */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Footer link styles */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Scroll view styles */
main {
    overflow-y: scroll;
    max-height: calc(100vh - 180px); /* Adjust based on header and footer height */
}

/* Custom cursor styles */
.custom-cursor {
    position: fixed;
    top: 0.1%;
    left: 0.1%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid rgba(247, 147, 30, 0.5); /* Vibrant orange border with 50% transparency */
    border-radius: 50%; /* Rounded shape */
    pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
    z-index: 9999; /* Ensure the cursor is above other elements */
    transition: transform 0.3s ease; /* Add a transition for smooth movement */
}

/* Dot in the center of the cursor */
.custom-cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: rgba(247, 147, 30, 0.5); /* Vibrant orange dot with 50% transparency */
    border-radius: 50%; /* Rounded shape */
}




